@import "~sass/includes/bootstrap";

.noty_layout {
  width: auto !important;
  min-width: 375px;
  word-wrap: break-word;
}

.noty_bar {
  border-radius: 0 !important;
}

.noty_body {
  padding: 24px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  box-shadow: 0px 0px 10px 0px rgba(148, 32, 24, 0.3) !important;
}

.noty_type__error {
  background-color: #f02f22 !important;
}

.noty_type__success {
  background-color: #00DC7B !important;
}

.noty_type__warning {
  background-color: #f8cc49 !important;
}

.noty_type__info {
  background-color: #009eff !important;
}

.gm-style-cc {
  display: none;
}

@include media-breakpoint-down(md) {
  .noty_layout {
    min-width: auto;
  }
}
