$color_primary_1: #001a29;
$color_primary_2: #0081c7;

$color_secondary_2: #ff5d24;
$color_secondary_3: #f02f22;
$color_secondary_4: #53667b;
$color_secondary_5: #00dc7c;
$color_secondary_6: #009eff;
