doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge', chrome="1")
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='')
    meta(name='author', content='')
    title ATLANT DEX
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZrLwDh6l5AW1F5Em3pPlABhQ3fmp__AM")
    body
      div#app
        router-view
